{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form1.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Personal Info</legend>
            <div class="form-group">
                {{ form1.first_name.label(class="form-control-label") }}

                {% if form1.first_name.errors %}
                {{ form1.first_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form1.first_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form1.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.last_name.label(class="form-control-label") }}
                {% if form1.last_name.errors %}
                {{ form1.last_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form1.last_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form1.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.address.label(class="form-control-label") }}
                {% if form1.address.errors %}
                {{ form1.address(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form1.address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form1.address(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.birth_date.label(class="form-control-label") }}
                {% if form1.birth_date.errors %}
                {{ form1.birth_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form1.birth_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form1.birth_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form1.about.label(class="form-control-label") }}
                {% if form1.about.errors %}
                {{ form1.about(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form1.about.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form1.about(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form1.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form2.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Work Info</legend>
            <div class="form-group">
                {{ form2.company_name.label(class="form-control-label") }}

                {% if form2.company_name.errors %}
                {{ form2.company_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.company_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form2.company_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form2.job_title.label(class="form-control-label") }}

                {% if form2.job_title.errors %}
                {{ form2.job_title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.job_title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form2.job_title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form2.start_date.label(class="form-control-label") }}

                {% if form2.start_date.errors %}
                {{ form2.start_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.start_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form2.start_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form2.end_date.label(class="form-control-label") }}

                {% if form2.end_date.errors %}
                {{ form2.end_date(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.end_date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form2.end_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form2.description.label(class="form-control-label") }}

                {% if form2.description.errors %}
                {{ form2.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form2.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form2.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <h2>Work Exp List</h2>
    {% for work in work_x %}
        <li>{{ work.company_name }} {{ work.job_title }} {{ work.start_date }} {{ work.end_date }} {{ work.description }}</li>
        <a href="/delete_work_experience/{{ work.work_id }}">Delete</a>
        <a href="/update_work_experience/{{ work.work_id }}">Update</a>
    {% endfor %}
</div>
{% endblock content %}