{% extends "layout.html" %}
{% block content %}
<h1>Update Certification</h1>
  <form method="POST" action="{{ url_for('update_certification', cert_id=cert.cert_id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.cert_name.label(class="form-label") }}
      {{ form.cert_name(class="form-control") }}
      {% for error in form.cert_name.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.institution.label(class="form-label") }}
      {{ form.institution(class="form-control") }}
      {% for error in form.institution.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.date_earned.label(class="form-label") }}
      {{ form.date_earned(class="form-control") }}
      {% for error in form.date_earned.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.date_expired.label(class="form-label") }}
      {{ form.date_expired(class="form-control") }}
      {% for error in form.date_expired.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
{% endblock content %}