{% extends "layout.html" %}
{% block content %}
    <body>
    <h4>User Profile:</h4>
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <h4>Username: {{ user.username }}</h4>
    <h4>Email: {{ user.email }}</h4>
    <h4>{{ personal.first_name }} {{ personal.last_name }} </h4>
    <h4>About: {{ personal.about }}</h4>
    <h2>Work Exp List</h2>
    {% for work in work1 %}
        <li>{{ work.company_name }} {{ work.job_title }} {{ work.start_date }} {{ work.end_date }} {{ work.description }}</li>
    {% endfor %}
    </body>

{% endblock content %}